<div class="top-row ps-3 navbar gradient-heading">
    <div class="container-fluid">
        <a class="navbar-brand" href="">data-access-bwa</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable custom-navbar" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CreateChore">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Create Chore
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="All-Chores">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> All Chores
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DisplayChores">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Display Chores
            </NavLink>
        </div>
    </nav>
</div>

